html,body {
  height: 100%;
}

body {
    font-family: 'Nunito', sans-serif;
    background: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #848484;
}

a,button {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}

a {
  color: #0455A6;
}

a:hover {
  color: #aeaeae;
}

a,a:hover,a:focus,button:hover,button:focus {
  outline: 0 !important;
  text-decoration: none;
}

button:focus {
  outline: 0 !important;
}

::-moz-selection {
  background-color: #0455a6;
  color: #fff;
}

::selection {
  background-color: #00A9DE;
  color: #fff;
}

.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
  letter-spacing: 0px;
  margin-top: 0px;
  font-family: 'Nunito', sans-serif;
  color: #152E47;
  line-height: 1.5;
  font-weight: 700;
}

.border-width {
  width: 60px;
  height: 2px;
  background: #0455A6;
  margin: 10px 0;
}

.light-blue {
  color: #00A9DE;
}

.no-margin {
  margin: 0px;
}

/*
Preloader
*/

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 20;
}

#preloader-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 5px;
  width: 5em;
  height: 5em;
  margin: -25px 0 0 -25px;
  text-indent: -9999em;
  border-top: 0.5em solid #0455A6;
  border-right: 0.5em solid rgba(204, 204, 204, 0.5);
  border-bottom: 0.5em solid rgba(204, 204, 204, 0.5);
  border-left: 0.5em solid rgba(204, 204, 204, 0.5);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

#preloader-inner,#preloader-inner:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/***spaces**/

.pt-100 {
  padding-top: 100px !important;
}

.pb-100 {
  padding-bottom: 100px !important;
}

.pb-70 {
  padding-bottom: 70px !important;
}

.pb-30 {
  padding-bottom: 30px !important;
}

/**margins**/

.margin-b-10 {
  margin-bottom: 10px;
}

.margin-b-20 {
  margin-bottom: 20px;
}

.margin-b-30 {
  margin-bottom: 30px;
}

.margin-b-40 {
  margin-bottom: 40px;
}

.margin-b-50 {
  margin-bottom: 50px;
}

.bg-skin {
  background-color: #0455A6;
}

.bg-gradient {
  background-color: #0455A6;
  background-image: -webkit-linear-gradient(0deg, #1C2E48, #0455A6);
  background-image: linear-gradient(0deg, #1C2E48, #0455A6);
}

.text-muted {
  color: inherit !important;
  opacity: 0.75 !important;
}

.form-control,input[type="text"],input[type="email"],textarea {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  border: 0px;
  border-bottom: 1px solid #f5f5f5;
}

.form-control:focus,input[type="text"]:focus,input[type="email"]:focus,textarea:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  border-bottom-color: #0455A6;
}

.white {
  color: #fff;
}

.text-large {
  font-size: 3.5rem;
}

.text-medium {
  font-size: 2.25rem;
  font-weight: 700;
}

i.text-medium {
  font-weight: normal;
}

.text-intro-large {
  font-size: 3rem;
  font-weight: 400;
}

.lead {
  line-height: 1.5;
  font-weight: 400;
}

.subscribe {
  color: #00c3ff;
  font-weight: 700;
}

.more-link {
  display: inline-block;
  border-bottom: 1px solid #0455A6;
  padding: 0 2px;
  color: #0455A6;
}

.more-link > i {
  font-size: 10px;
  font-weight: bold;
}

.more-link:hover {
  color: inherit;
  border-bottom-color: inherit;
}

.center-img {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.full-img {
  width: 100%;
  height: auto;
}

.pos-relative {
  position: relative;
}

.pos-relative .image-shape-bottom {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  z-index: 1;
}

.border-bottom {
  border-bottom: 1px solid #f5f5f5;
}

.section-title {
  padding-bottom: 2rem;
}

.section-title h2 {
  position: relative;
  text-transform: capitalize;
  letter-spacing: 2px;
  margin-bottom: 0px;
  padding-bottom: 1rem;
  line-height: 1;
  font-size: 2rem;
  font-weight: 900;
}

.section-title h2:before {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  content: "";
  width: 100px;
  height: 1px;
  background-color: #0455A6;
}

.section-title .subtitle {
  text-transform: capitalize;
  letter-spacing: 0px;
  padding-top: 17px;
  font-weight: 500;
}

.section-title.light h2,.section-title.light p {
  color: #fff;
}

.section-title.light h2:before {
  background-color: rgba(255, 255, 255, 0.75);
}

.text-color {
  color: #0455A6;
}

.text-white {
  color: #fff !important;
}

/**animatation*/

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.z-index-0 {
  z-index: 0;
}

.z-index-4 {
  z-index: 4;
}

.z-index-9 {
  z-index: 9;
}

.z-index-10 {
  z-index: 10;
}

/**svg**/

.svg-abs {
  position: absolute;
}

.svg-f-btm {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 3;
}

.svg-lb {
  fill: #00A9DE;
}

.svg-top-left {
  top: 0;
  left: 0;
}

.svg25p {
  width: 35%;
  z-index: 3;
}

@media (min-width: 992px) {
  .lg-top-4 {
    top: 4rem;
    position: relative;
  }

  .lg-xm-4 {
    top: 2px;
    position: relative;
    left: -4rem;
  }
}

/*page title */

.page-title {
  padding-top: 9rem;
  padding-bottom: 2rem;
}

.page-title h3 {
  color: #fff;
  font-size: 3rem;
  font-weight: 100;
}

/**shortcode * remove bottom css*/

/*
05 - Button style
*/

.btn {
  font-family: 'Nunito', sans-serif;
  text-transform: capitalize;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 8px 12px 6px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  font-weight: 600;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:hover {
  -moz-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.btn-lg {
  padding: 14px 25px;
}

.btn-dark-border {
  border: 2px solid #333;
  color: #333;
}

.btn-dark-border:hover,.btn-dark-border:focus,.btn-dark-border.active,.btn-dark-border.active:focus {
  background: #333;
  box-shadow: 0px 0px 20px rgba(51, 51, 51, 0.35);
  color: #fff;
}

.btn-skin-border {
  border: 2px solid #00A9DE;
  color: #00A9DE;
  background-color: transparent;
}

.btn-skin-border:hover,.btn-skin-border:focus,.btn-skin-border.active,.btn-skin-border.active:focus {
  background: #0455A6;
  box-shadow: 0px 0px 20px rgba(78, 239, 237, 0.35);
  color: #fff;
}

.btn-white-border {
  border: 2px solid #fff;
  color: #fff;
  background-color: transparent;
}

.btn-white-border:hover,.btn-white-border:focus,.btn-white-border.active,.btn-white-border.active:focus {
  background-color: #0455A6;
  box-shadow: 0px 0px 20px rgba(78, 239, 237, 0.35);
  color: #fff;
}

.btn.btn-dark {
  border: 0px;
  background-color: #333;
  color: #fff;
}

.btn.btn-dark:hover,.btn.btn-dark:focus,.btn.btn-dark.active,.btn.btn-dark.active:focus {
  background-color: #152E47;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.35);
  color: #fff;
}

.obus {
  color: #152E47;
  font-weight:800;
}

.obus-logo {
  max-width: 50%;
  margin-bottom: 5%;
}

.ss-container {
  margin: auto;
}
.ss-home {
  max-width: 80%;
}

.row-links {
  padding: 0 0 5% 0;
}

.img-store {
  max-width: 70%;
}

.left-icon {
  margin-left: auto;
  display: block;
}

.right-icon {
  margin-right: auto;
  display: block;
}

.btn.btn-skin {
  border: 0px;
  background-color: #0455A6;
  color: #fff;
}

.btn.btn-skin:hover,.btn.btn-skin:focus,.btn.btn-skin.active,.btn.btn-skin.active:focus {
  background-color: #152E47;
  box-shadow: 0px 0px 20px rgba(4,85,166, 0.35);
  color: #fff;
}

.btn-link {
  color: #0455A6;
}

.btn-link:hover {
  color: #999;
}

/*
Navigation
*/

.navbar .nav-link {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar-light.navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  background-color: #fff;
  z-index: 999 !important;
  width: 100% !important;
}

.is-sticky .navbar {
  position: fixed;
  left: 0;
  top: 0;
}

.navbar-collapse {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar.navbar-light li.active > .nav-link,.navbar.navbar-light li.show > .nav-link,.navbar.navbar-light .nav-link.active,.navbar.navbar-light .nav-link:hover,.navbar.navbar-light .nav-link:focus {
  color: #0455a6;
}

.navbar.navbar-dark li.active > .nav-link,.navbar.navbar-dark li.show > .nav-link,.navbar.navbar-dark .nav-link.active,.navbar.navbar-dark .nav-link:hover,.navbar.navbar-dark .nav-link:focus {
  color: #fff;
}

.navbar.navbar-dark {
  border-bottom: 0px;
  background-color: #0455A6;
  position: fixed;
  top: 0;
  left: 0;
}

.navbar-toggler-icon {
  color: #152E47 !important;
}

.navbar.navbar-dark .nav-link {
  color: rgba(255, 255, 255, 0.8);
}

.navbar.navbar-dark .nav-link.active,.navbar.navbar-dark li.show .nav-link,.navbar.navbar-dark .nav-link:hover {
  color: #fff;
}

.navbar.navbar-light {
  background-color: #fff;
}

.navbar.navbar-light .nav-link {
  color: #152E47;
}

.navbar.navbar-light .nav-link.active,.navbar.navbar-light li.show .nav-link,.navbar.navbar-light .nav-link:hover {
  color: #0455A6;
}

@media (min-width: 992px) {
  .navbar.navbar-expand-lg {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .navbar.navbar-expand-lg .nav-item {
    height: 75px;
    margin-left: 1.25rem;
    align-items: center;
    display: flex;
  }

  .navbar.navbar-expand-lg .nav-link {
    padding: 0;
  }

  .fullscreen {
    height: 100vh;
  }

  .screen {
    position: relative;
  }

  .screen .header-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(28, 46, 72, 0.75);
    z-index: 1;
  }

  .screen .header-overlay.gradient {
    background-color: rgba(4, 85, 166, 0.5);
    background-image: -webkit-linear-gradient(0deg, #1C2E48, #103d7d);
    background-image: linear-gradient(0deg, #1C2E48, #103d7d);
  }

  .screen.dark .text-large, .screen.dark p {
    color: #fff;
  }

  .screen .text-large {
    font-size: 4rem;
    margin-bottom: 1rem;
    letter-spacing: 2px;
    font-weight: 900;
    text-transform: uppercase;
  }

  .screen .lead {
    margin-bottom: 2rem;
    opacity: .75;
  }

  .parallax {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 4;
  }

  .inner {
    display: table;
    width: 100%;
    height: 100%;
    position: relative;
  }

  .inner .content {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }

  .txt h2 {
    color: #fff;
    font-size: 3.5rem;
    line-height: 5.5rem;
    font-weight: 400;
    text-transform: capitalize;
    font-family: 'Nunito', sans-serif;
  }

  /*
  Icon-boxes
  */
  .feature-icon {
    border: 1px solid #d6d6d6;
    padding: 4rem 2rem;
  }

  .feature-icon p {
    margin-bottom: 0px;
  }

  .feature-icon i {
    background-color: #0455A6;
    background-image: -webkit-linear-gradient(0deg, #0455A6, #117AC9);
    background-image: linear-gradient(90deg, #0455A6, #117AC9);
    overflow: hidden;
    display: flex;
    width: 5rem;
    height: 5rem;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    font-size: 2rem;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  .feature-icon i:before {
    position: relative;
    z-index: 2;
  }

  .feature-icon i:hover:after {
    width: 100%;
  }

  .feature-icon h5 {
    display: block;
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 1.25rem;
    line-height: 24px;
    font-weight: 600;
    text-transform: capitalize;
  }

  .service-card {
    padding: 1.5rem;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    margin-bottom: 30px;
  }

  .service-card img {
    display: block;
    margin: auto;
    border-radius: 5px;
  }

  .service-card h5 {
    padding-top: 1rem;
    font-weight: 700;
    text-transform: capitalize;
  }

  .bg-parallax {
    position: relative;
    padding-top: 100px;
    padding-bottom: 150px;
  }

  .bg-parallax h2, .bg-parallax p {
    color: #fff;
  }


  .bg-parallax .container {
    position: relative;
    z-index: 3;
  }

  .bg-parallax .image-shape-bottom {
    z-index: 3;
  }

  /*
  Team
  */
  .person-col {
    position: relative;
    overflow: hidden;
  }

  .person-col img {
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    display: block;
    margin: 0 auto;
  }

  .person-col .person-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    background-color: #0455A6;
    background-image: -webkit-linear-gradient(0deg, #0455A6, #117AC9);
    background-image: linear-gradient(90deg, #0455A6, #117AC9);
    opacity: 0;
    visibility: hidden;
  }

  .person-col .person-overlay .person-inner {
    text-align: center;
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
    margin-top: 0px;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }

  .person-col .person-overlay .person-inner h4 {
    margin-bottom: 0px;
    letter-spacing: 0px;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
  }

  .person-col .person-overlay .person-inner span {
    display: block;
    color: #fff;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 13px;
  }

  .person-col .person-overlay .person-inner ul li a {
    color: rgba(255, 255, 255, 0.75);
    font-size: 16px;
    display: block;
  }

  .person-col .person-overlay .person-inner ul li a i {
    display: block;
  }

  .person-col .person-overlay .person-inner ul li a:hover {
    color: #fff;
  }

  .person-col:hover .person-overlay {
    opacity: 1;
    visibility: visible;
  }

  .person-col:hover .person-overlay .person-inner {
    margin-top: -40px;
  }

  /*
  13 - Pricing tables
  */
  .price-box {
    background: white;
    text-align: center;
    border: 1px solid #c1c1c1;
    overflow: hidden;
  }

  .price-box h3 {
    margin: 0px;
    font-size: 1.25rem;
    padding: 20px 15px;
    border-bottom: 1px solid #f5f5f5;
  }

  .price-box h2 {
    font-size: 5rem;
    padding: 0px 15px;
    line-height: 3rem;
    margin: 34px 0;
  }

  .price-box h2 sup {
    font-size: 13px;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    vertical-align: top;
    position: relative;
    left: 10px;
  }

  .price-box ul li {
    padding: 7px 0;
  }

  .price-box ul li:nth-child(even) {
    background-color: rgba(93, 51, 251, 0.05);
  }

  .price-box.best-value {
    position: relative;
  }

  .price-box.best-value h3, .price-box.best-value h2 {
    color: #0455A6;
  }

  .price-box.best-value .best-label {
    position: absolute;
    right: -40px;
    top: 16px;
    background: #0455A6;
    color: #fff;
    width: 160px;
    height: 40px;
    line-height: 40px;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .price-footer {
    padding: 25px 15px;
  }

  /*
  Portfolio
  */
  /*
  Contact
  */
  .contact-section {
    background-color: #fff;
  }

  /**partners**/
  .partners {
    padding: 20px 0;
    background: #f5f5f5;
    text-align: center;
  }

  .partners img {
    display: inline-block;
    margin: 0px auto;
    height: 90px;
    opacity: 0.75;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .partners a:hover img {
    opacity: 1;
  }

  .social-link:hover > i {
    box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.15);
  }

  .newsletter-form .form-control {
    padding-left: 10px;
    border-radius: 3px;
  }

  /*
  Footer
  */
  .footer {
    display: flex;
    align-items: center;
    height: 250px;
    background-color: #0455A6;
    background-image: -webkit-linear-gradient(0deg, #0455A6, #117AC9);
    background-image: linear-gradient(90deg, #0455A6, #117AC9);
    position: relative;
    font-weight: 400;
  }

  .footer .svg-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
  }

  .footer span {
    color: #fff;
    display: block;
    opacity: .75;
  }

  .footer ul {
    margin: 0;
    padding: 0px;
  }

  .footer ul li a {
    color: #fff;
  }

  .footer ul li a:hover {
    color: #fff;
    text-decoration: underline;
  }

  /*
  Responsiveness
  */
  @media (max-width: 991px) {
    .navbar-dark .navbar-toggler {
      color: #fff;
    }

    .text-intro-large {
      font-size: 2rem;
    }

    .smart-wrap {
      padding-top: 2rem;
    }

    .text-medium {
      font-size: 1.5rem;
      font-weight: 500;
    }

    .screen .text-large {
      font-size: 2.5rem;
    }

    .screen .btn {
      padding: 8px 15px;
    }

    .screen p.lead {
      font-size: 13px;
    }

    .navbar-toggler {
      border: 0px;
    }

    .navbar-toggler > i {
      font-size: 2rem;
    }

    .navbar .navbar-collapse {
      max-height: 280px;
      overflow-y: scroll;
    }
  }

  @media (max-width: 768px) {
    .btn-lg {
      padding: 10px 20px;
    }

    .section-title h2 {
      font-size: 1.25rem;
    }

    .h2, h2 {
      font-size: 1.25rem;
    }
  }

  @media (max-width: 576px) {
    .footer {
      padding-bottom: 30px;
    }

    .footer > *, .footer .text-right {
      text-align: center !important;
    }

    .contact-wrapper .title-name {
      padding-top: 1rem;
      margin-bottom: .5rem;
    }

    .bg-parallax {
      background-position: top center !important;
    }

    .feature-icon-alt {
      margin-bottom: 50px;
      background-color: #f5f5f5;
    }

    .row .col-md-6:nth-child(1) .feature-icon-alt {
      margin-top: 50px;
    }
  }
}